html, body{
	height: 100%;
	width: 100%;
	margin: 0%;
	padding: 0%;
	font-family: tahoma;
}


/********************************************header************************************************/
.header{
	height: 110px;
	width: 100%;
	position: fixed;	
}

.bar{
	background-color: orange;
	height: 25px;
	width: 100%;
}
.bar .container ul{
	list-style-type: none;
	float: right;
	direction: rtl;
	margin: 0px;
	padding: 0px;
}
.bar .container li{
	display: inline;
	color: white;
	padding: 2px;
	line-height: 23px;
}
.bar .container li i{
	font-size: 20px;
}
.bar .container li a{
	color: white !important;
}
/**********************menu**********************/
.header .menu{
	height: 90px;
	direction: rtl;
	width: 100%;
	border-bottom: 2px solid rgb(0, 76, 152); 
}
.menu .navMenu{
	list-style-type: none;
	direction: rtl;
	line-height: 77px;

}
.menu .navMenu li{
	display: inline;
	padding: 5px;
	text-align: justify;

}
.menu .navMenu li span{
	font-size: 16px;
}
.menu .navMenu li span:hover{
	color: rgb(247, 148, 29);
	cursor: pointer;
}
.langMenu{
	list-style-type: none;
	line-height: 77px;
	direction: rtl;
}
.langMenu li{
	text-align: justify;
	display: inline;
	padding: 5px;
}
.logo{
	padding: 5px;

}
/********************slide********************/
.slide{
	width: 100%;
	height: 630px;
}
/****************footer***********************/
.footer{
	height: 400px;
	width: 100%;
}
.footer .subFooter .sub{
	background-image: url(../image/footer.png);
	height: 37px;
	width: 100%;
}
.footer .subFooter .sub ul{
	list-style-type: none;
	text-align: center;
	direction: rtl;
}
.footer .subFooter .sub li{
	display: inline;
	padding: 8px;
	color: black;
	font-size: 12px;
	line-height: 12px;
	color: rgb(0, 0, 0);
}
.footer .subFooter .subMenu{
	height: 318px;
	width: 100%;
	background-color: gray;
}
.foot{
	height: 45px;
	width: 100%;
	background-color: lightgray;
}
.pargraph{
	text-align: center;
	color: black;
	line-height: 35px;
	font-size: 12px;
}